@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100..900&display=swap");

@import "tailwindcss";

/* @custom-variants dark (&:where(.dark,.dark* ))

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
} */

@theme {
  --color-primary: #5044e5;
}
